@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,200;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
    background: transparent;
    outline: none;
}

p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.uil {
    color: #ff8242;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    color: #0d0d25;
    font-weight: 900;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #bfbfbf;
}

::-webkit-scrollbar-thumb {
    background-color: #ff8242;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #f16620;
}

body{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility !important;
    background: #f3f3f5;
}

/* .body-fixed {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: auto;
    left: auto;
    overflow: auto;
} */

.site-header {
    position: fixed;
    padding: 30px 0;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: .5s;
    border-bottom: 1px solid transparent;
}

.site-header.sticky_head {
    background: rgba(255, 255, 255, .8);
    padding: 20px 0;
    border-color: #f2f2f2;
    backdrop-filter: blur(20px);
}

.main-navigation {
    gap: 20px;
}

.main-navigation .menu li {
    display: inline-block;
    position: relative;
    margin: 0 6px;
}

.main-navigation .menu li:hover > ul,
.main-navigation .menu li:focus > ul {
    opacity: 1;
    margin-top: 6px;
    visibility: visible;
    left: auto;
}

.main-navigation .menu ul a {
    width: 200px;
}

.main-navigation .menu li a {
    display: flex;
    transition: .3s;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #0d0d25;
    text-transform: capitalize;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 30px;
}

.main-navigation .menu li a:hover,
.main-navigation .menu li .active-menu,
.main-navigation .menu li .sub-menu li .active-sub-menu {
    color: #ff8242;
    background-color: #f3f3f5;
    box-shadow: inset 8px 8px 12px #e2e2e2, inset -8px -8px 12px #ffffff;
}

.header-right {
    margin-left: 20px;
}

.header-btn {
    padding: 0 10px;
    position: relative;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    margin-left: 20px;
    transition: .3s;
    box-shadow: inset 6px 6px 7px #dadada, inset -6px -6px 7px #ffffff;
}

.header-btn:hover {
    background: linear-gradient(145deg, #dcdcdc, #ffffff);
    box-shadow: 20px 20px 60px #cfcfd0, -20px -20px 60px #ffffff;
}

.header-btn .uil-shopping-cart {
    z-index: 3;
}

.header-btn .uil-shopping-cart::before {
    font-size: 25px;
}

.header-btn .cart-number {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 1;
    width: 22px;
    height: 22px;
    background-color: #ffffff;
    color: #ff8242;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 50%;
    border: 1px solid #bfbfbf;
}

.header-search-form input {
    width: 200px;
    height: 40px;
    font-size: 14px;
    padding-right: 40px;
    outline: none !important;
    border: none; 
    padding: 10px 15px;
    color: #0d0d25;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: inset 6px 6px 8px #dadada, inset -6px -6px 8px #ffffff;
}

.header-search-form button {
    border: none;
    padding: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 50px;
    height: 100%;
    opacity: .5;
    background-color: transparent;
}

.main-banner {
    padding: 150px 0 200px;
}

.js-parallax-wp {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.banner-shape-1 img {
    position: absolute;
    left: 85%;
    max-width: 150px;
    top: 60px;
    width: 100%;
    pointer-events: none;
    filter: blur(3px);
}

.banner-shape-2 img {
    position: absolute;
    bottom: 0px;
    right: 82% !important;
    max-width: 410px;
    width: 100%;
    pointer-events: none;
    filter: blur(3px);
}

.h1-title {
    font-size: 80px;
    line-height: 90px;
}

.h1-title span {
    color: #ff8242;
    background-image: linear-gradient(180deg, rgba(13, 13, 37, .008), rgba(13, 13, 13, .06));
    background-size: 100%, 13px;
    background-position: 0 90%;
    background-repeat: no-repeat;
    display: inline;
    transition: .8s ease;
}

.section-btn {
    min-width: 120px;
    min-height: 58px;
    background-color: #f3f3f5;
    box-shadow: 9px 9px 12px #b2b2b3, -9px -9px 12px #ffffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: #0d0d25;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    outline: none;
    transition: .8s ease;
    overflow: hidden;
    position: relative;
    z-index: 2;
    padding: 6px 30px;
}

.section-btn:hover {
    border-color: #0d0d25;
    box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
    color: #0d0d25;
}

.banner-img-container {
    width: 100%;
    height: 100%;
    padding-left: 30px;
}

.banner-img {
    background: url('./images/main-b.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: biani 4.5s linear infinite alternate;
    height: 100%;
    width: 100%;
    box-shadow: 0 0px 20px rgba(36, 39, 37, 0.3);
}

@keyframes biani {
    0%{
        border-radius: 48% 52% 57% 43% / 34% 44% 56% 66%;
    }
    25% {
        border-radius: 62% 38% 64% 36% / 34% 55% 45% 66%;
    }
    50% {
        border-radius: 43% 57% 51% 49% / 33% 42% 58% 67%;
    }
    100% {
        border-radius: 40% 60% 43% 57% / 52% 32% 68% 48%;
    }
}

.banner-img-text {
    max-width: 400px;
    width: 100%;
}

.section {
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}

.h2-title {
    font-size: 38px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.h2-title span {
    display: block;
}

.section-title-shape img {
    width: 100px;
    height: 20px;
    object-fit: contain;
}

.about-video-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    background: url('./images/about.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    box-shadow: 0 0 20px rgba(36, 39, 37, .3);
    min-height: 400px;
    height: 50vh;
}

.play-btn {
    width: 90px;
    height: 90px;
    background-color: #f3f3f5;
    box-shadow: 9px 9px 12px #b2b2b3, -9px -9px 12px #ffffff;
    border-radius: 50%;
    font-size: 40px;
    transition: .5s;
}

.play-btn:hover {
    box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
}

.menu-tab .filters {
    border-radius: 60px;
    background: linear-gradient(145deg, #ececec, #ffffff);
    box-shadow: 28px 28px 55px #d4d4d4, -28px -28px 55px #ffffff;
    z-index: 2;
}

.menu-tab .filters .filter,
.menu-tab ul .filter-active {
    display: inline-flex;
    font-size: 18px;
    line-height: normal;
    cursor: pointer;
    padding: 10px 26px;
    border-radius: 30px;
    transition: .3s;
    justify-content: center;
    align-items: center;
}

.menu-tab .filters .filter {
    position: relative;
    z-index: 1;
}

.menu-tab ul .filter-active {
    background: linear-gradient(145deg, #e3a92b, #ffc933);
}

.filter-active {
    position: absolute;
    left: 11px;
    top: 17px;
    min-height: 50px;
    z-index: -1;
    width: 143px;
}

.section-our-menu {
    background: url('./images/menu-bg.png');
    background-size: contain;
    background-repeat: repeat;
}

.menu-tab .filters .filter img {
    top: 1px;
    position: relative;
    z-index: -1;
}


.brand-title .h5-title {
    opacity: .7;
    font-weight: 500;
    letter-spacing: 2px;
}

.brands-row .brands-box {
    padding: 0 10px;
    cursor: pointer;
}

.brands-box img {
    opacity: .6;
    transition: all .5s ease;
}

.brands-box img:hover {
    filter: drop-shadow(11px 0px 3px rgba(0, 0, 0, .6));
    opacity: 1;
}

.dish-box {
    display: flow-root;
    padding: 0 30px 40px;
    padding-top: 0;
    margin: 130px 0 30px;
    border-radius: 30px;
    cursor: pointer;
    background: linear-gradient(145deg, #ececec, #ffffff);
    box-shadow: 28px 28px 45px #d4d4d4, -28px -28px 45px #ffffff;
    transition: .8s;
}

.dish-box:hover {
    transform: scale(1.03);
}

.dish-img {
    margin-top: -130px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dish-img img {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 28px 28px 45px #d4d4d4, -28px -28px 45px #ffffff;
}

.dish-title p {
    opacity: .7;
    letter-spacing: 1px;
    font-weight: 600;
}

.dish-info {
    border-bottom: 2px solid rgba(204, 204, 204, .3);
}

.dish-info ul,
.dish-bottom-row ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dish-info ul li:first-child {
    text-align: left;
    flex: 1;
}

.dish-info ul li:last-child {
    text-align: right;
    flex: 1;
    border-left: 2px solid rgba(204, 204, 204, .3);
}

.dish-info ul li p {
    font-size: 18px;
    margin-bottom: 3px;
    font-weight: 300;
}

.dish-info ul li b {
    font-weight: 600;
}

.dish-bottom-row ul li {
    display: flex;
    align-items: center;
}

.dish-bottom-row ul li b {
    font-size: 30px;
}

.dish-add-btn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    outline: none;
    color: #ffffff;
    background: linear-gradient(145deg, #ffc954, #ffbc00);
    box-shadow: inset 4px 4px 8px #d6a029, inset -4px -4px 8px #ffd837;
    transition: .3s;
}

.dish-add-btn:hover {
    background: linear-gradient(145deg, #e3a92b, #ffc933);
}

.dish-add-btn .uil {
    color: #ffffff;
    font-weight: bold;
}

.xxl-title {
    font-size: 52px;
    line-height: 72px;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.section-text p {
    font-weight: 500;
}

.book-table-bg img {
    position: absolute;
    right: 73%;
    top: 0px;
    width: 500px;
    height: 400px;
    object-fit: contain;
}

.book-table-bg-2 img {
    left: 73%;
    transform: scale(-1, 1);
}

.call-now {
    border-left: 3px dotted rgb(13 13 37 /50%);
    border-right: 3px dotted rgb(13 13 37 /50%);
    padding: 15px 0;
}

.call-now i {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 26px;
    margin: 0 auto;
    margin-bottom: 25px;
    background-color: #f3f3f5;
    box-shadow: 9px 9px 12px #b2b2b3, -9px -9px 12px #ffffff;
}

.call-now a {
    font-size: 32px;
    font-weight: 500;
    transition: .8s ease;
}

.call-now a:hover, .contact-info a:hover {
    color: #fcbc30;
}

.table-title p {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    font-weight: 400;
    opacity: .8;
}

@media screen and (max-width: 991px) {
    
    .site-header, .site-header.sticky_head {
        background: rgba(255, 255, 255, .4);
    }
    
    .site-header {
        padding: 20px 0;
        box-shadow: 0 10px 55px #d4d4d4;
    }

    .menu-toggle {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translate(0, -50%);
        border: none;
        border-radius: 10px;
        padding: 0 8px;
        width: 40px;
        height: 40px;
        z-index: 100;
        box-shadow: inset 6px 6px 7px #dadada, inset -6px -6px 7px #ffffff;
    }
    
    .menu-toggle span {
        width: 100%;
        height: 4px;
        background-color: #ff8242;
        border-radius: 5px;
        margin-bottom: 5px;
        position: relative;
        transition: .3s;
        display: block;
    }
    .menu-toggle span:last-child {
        margin: 0;
    }
    
    .toggled .header-menu {
        transform: translateY(0%);
    }
    
    .toggled .menu-toggle span:first-child {
        transform: rotate(45deg);
        top: 5px;
    }
    
    .toggled .menu-toggle span:last-child {
        transform: rotate(-45deg);
        top: -4px;
    }
    
    .header-menu {
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        width: 100%;
        padding-top: max(17vh, 30px);
        padding-left: max(6vh, 30px);
        z-index: 99;
        overflow-y: auto;
        background-image: url('./images/blog-pattern-bg.png');
        background-position: center;
        background-color: #f3f3f5;
        transition: .8s ease;
    }
    
    .main-navigation .menu {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .main-navigation .menu li {
        margin-bottom: max(20px, 4vh);
    }
    
    .header-search-form,
    .header-btn.header-cart {
        display: none;
    }
    
    .header-btn {
        margin: 0;
        margin-right: 70px;
    }

    .js-parallax-wp {
        display: none;
    }
    
    .main-banner {
        padding: 150px 0 40px;
    }
    
    .banner-img-container {
        height: 75vw;
        padding: 50px 0 0;
    }

    .menu-tab {
        position: relative;
        display: flex;
    }

    .menu-tab .filters {
        white-space: nowrap;
        overflow: hidden;
        overflow-x: auto;
    }

    .menu-tab .filters::-webkit-scrollbar {
        display: none;
    }
    
}

@media screen and (max-width: 767px){
    .banner-img-container {
        height: 75vw;
        min-height: 60vw;
        width: auto;
    }

    
    .book-table-bg {
       display: none;
    }

}

@media screen and (max-width: 575px){
    .container {
        padding: 0 30px;
    }

    .h1-title {
        font-size: 35px;
        line-height: 60px;
        margin-bottom: 20px;
        font-weight: 900;
    }

    .h1-title span {
        background-size: 100% 8px;
    }

    .banner-img-container {
        height: 90vw;
    }
}